{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LampShop</title>
    <link rel="stylesheet" href="../styles/reset.css">
</head>
<body>
        <div class="wrapper">

            <header class="header">
                <div class="container">
                    <nav class="navbar">
                        <a href="" class="navbar-elem">LampShop</a>
                        <a href="" class="navbar-elem">Все товары</a>
                        <a href="" class="navbar-elem">Корзина</a>
                        <a href="" class="navbar-elem">Категории</a>
                    </nav>
                </div>
            </header>

            <main class="main">
                <div class="container">
                    <div class="content">
                        контент страницы
                    </div>
                </div>
            </main>

            <footer class="footer">
                <div class="container">
                    <div class="footer-content">
                        <div class="footer-elem about_us">
                            <h3>LampShop</h3>
                            <p>Лучший магазин импортной одежды в вашем городе</p>
                        </div>
                        <div class="footer-elem contacts">
                            <h3>Контакты</h3>
                            <p><Email:info@Lampshop.ru></p>
                            <p><Телефон: + 7(123) 456-78-90></p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    
</body>
</html>
